<%= form_with(model: playground, local: true) do |form| %>
  <% if playground.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(playground.errors.count, "error") %> prohibited this playground from being saved:</h2>

      <ul>
        <% playground.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

    <div class="form-group">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode, class: "form-control" %>
  </div>


  <div class="form-group">
    <%= form.label :indoor %>
    <%= form.check_box :indoor, class: "form-control" %>
  </div>

    <div class="form-group">
    <%= form.label :outdoor %>
    <%= form.check_box :outdoor, class: "form-control" %>
  </div>

    <div class="form-group">
    <%= form.label :restrooms %>
    <%= form.check_box :restrooms, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :food %>
    <%= form.check_box :food, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :restaurant %>
    <%= form.text_field :restaurant, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :fun %>
    <%= form.number_field :fun, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :clean %>
    <%= form.number_field :clean, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :safety %>
    <%= form.number_field :safety, class: "form-control" %>
  </div>

  <div class="form-group">
    <strong>Upload Playground Photo: </strong>
    <%= form.file_field :photo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
