<%= form_with(model: playground, local: true) do |form| %>
  <% if playground.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(playground.errors.count, "error") %> prohibited this playground from being saved:</h2>

      <ul>
        <% playground.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

    <div class="form-group">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode, class: "form-control" %>
  </div>


  <div class="checkbox">
    <%= form.label :indoor %>
    <%= form.check_box :indoor, class: "checkbox" %>
  </div>

    <div class="checkbox">
    <%= form.label :outdoor %>
    <%= form.check_box :outdoor, class: "form-checkbox" %>
  </div>

    <div class="checkbox">
    <%= form.label :restrooms %>
    <%= form.check_box :restrooms, class: "checkbox" %>
  </div>

  <div class="checkbox">
    <%= form.label :food %>
    <%= form.check_box :food, class: "checkbox" %>
  </div>

  <div class="checkbox">
    <%= form.label :restaurant %>
    <%= form.text_field :restaurant, class: "checkbox" %>
  </div>

  <div class="form-group">
    <%= form.label :fun %>
    <%= select_tag(:fun, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]]), class:"form-control") %>
  </div>

  <div class="form-group">
    <%= form.label :clean %>
    <%= select_tag(:clean, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]]), class:"form-control") %>
  </div>

  <div class="form-group">
    <%= form.label :safety %>
    <%= select_tag(:safety, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]]), class:"form-control") %>
  </div>

  <div class="form-group">
    <strong>Upload Playground Photo: </strong>
    <%= form.file_field :photo %>
  </div>

  <div class="actions">
    <%= form.submit(class:"btn btn-primary") %>
  </div>
<% end %>
