<div class="container" style="padding-top: 25px; padding-bottom: 25px">

<div class="shadow p-3 mb-5 bg-white rounded" style="background-color: #FCFCFA; border-style: solid; border-width: 2px; border-color: #b9c8bc; margin: auto;">

<p id="notice"><%= notice %></p>
<h3>Playground Updated:</h3>
<p>
  <strong>Address:</strong></br>
  <%= @playground.address %>
</p>

<p>
  <strong>Zipcode:</strong></br>
  <%= @playground.zipcode %>
</p>

<p>
  <strong>Indoor:</strong></br>
  <%= @playground.indoor ? "yes" : "no"%>
</p>

<p>
  <strong>Outdoor:</strong></br>
  <%= @playground.outdoor ? "yes" : "no"%>
</p>

<p>
  <strong>Restrooms:</strong></br>
  <%= @playground.restrooms ? "yes" : "no"%>
</p>

<p>
  <strong>Food:</strong></br>
  <%= @playground.food ? "yes" : "no"%>
</p>

<p>
  <strong>Restaurant:</strong></br>
  <%= @playground.food ? "" : "none"%>
</p>

<p>
  <strong>Fun:</strong></br>
  <%= @playground.fun %>
</p>

<p>
  <strong>Clean:</strong></br>
  <%= @playground.clean %>
</p>

<p>
  <strong>Safety:</strong></br>
  <%= @playground.safety %>
</p>

<p>
  <strong>Photo:</strong></br>
  <%= image_tag(@playground.photo.url, :style => "width:100%") if @playground.photo.url.present? %>
</p>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_playground_path(@playground), class:"btn btn-danger" %> |
<% end %>
<%= link_to 'Back', playgrounds_path, class:"btn btn-success" %>

</div>
</div>
