<%= javascript_tag do %>
   var playgrounds = []
   <%if @playgrounds%>
    <%@playgrounds.each do |playground|%>
    playgrounds.push({
        'latitude': '<%= j playground.latitude.to_s %>',
        'longitude': '<%= j playground.longitude.to_s %>',
        'image': ''
      })   
      <% end %>
    <% end %>
<% end %>
<script>
function initializeMap(latitude, longitude) {
      
        if(playgrounds.length === 0 && !latitude && !longitude){
          return
        } else if(latitude && longitude) {
          playgrounds.unshift({latitude: latitude, longitude: longitude, image: "" })
        }
        
        var myCoords = new google.maps.LatLng(playgrounds[0].latitude,playgrounds[0].longitude);
        
        var address = "test"
  
        var mapOptions = {
           zoom: 12,
           scrollwheel: false,   
           center: myCoords
        }
    
        var map = new google.maps.Map(document.getElementById('playgrounds-map'), mapOptions);
        playgrounds.forEach(playground => {
          var cords = new google.maps.LatLng(playground.latitude,playground.longitude);
          var contentString = "Food <span style='font-size:10px;'>&#9989;</span>"+ "Indoor <span style='font-size:10px;'>&#10060;</span>"+ "Restroom <span style='font-size:10px;'>&#9989;</span>"+ "Outdoor <span style='font-size:10px;'>&#10060;</span"
           

          var infowindow = new google.maps.InfoWindow({
          content: contentString
          });
          var marker = new google.maps.Marker({
              position: cords,
              map: map,
              title: address,
              draggable:true
          });
          google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map,marker);
          });
        });
    
        
    }

function geoFindMe() {

  const lat = document.querySelector('#lat');
  const long = document.querySelector('#long');

  function success(position) {
    const latitude  = position.coords.latitude;
    const longitude = position.coords.longitude;

    
    long.value = longitude;
    lat.value = latitude;
    initializeMap(latitude, longitude);
  }

  function error() {

    status.textContent = 'Unable to retrieve your location';
  }

  if (!navigator.geolocation) {
    status.textContent = 'Geolocation is not supported by your browser';
  } else {
    status.textContent = 'Locating…';
    navigator.geolocation.getCurrentPosition(success, error);
  }

}
// wait for the page to fully finish loading
document.addEventListener("DOMContentLoaded", function(){
  initializeMap();
  document.querySelector('#find-me').addEventListener('click', geoFindMe );
});
</script>
<div class="container" style="padding-top: 25px; padding-bottom: 25px">

  <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
    
    <div id="playgrounds-map" style="flex: 1; height: 500px"></div>

    <div>
      <div class="container shadow p-3 mb-5 rounded" style="background-color: #FCFCFA; border-style: solid; border-width: 2px; border-color: #b9c8bc; margin: 10px; padding: 10px">  
        <%= form_with(url: "/welcome/index", method: "get", local: true) do %>
        
          <h5> Search For a Playground </h5>

          <div class="button">
            <label for="zipcode_search">Zipcode</label>
            <%= text_field_tag(:zipcode, @zipcode, class:"form-control") %>
            </div>

          <div class="button">
            <label for="current_location">
            <span id="find-me" style="font-size: 12px; color: black; text-decoration: underline; cursor:pointer">Use my current location</a>
            </label>
            </div>


          <div class="form-group">
            <label for="select_radius">View results within:</label>
            <%= select_tag(:radius, options_for_select([['5 miles', 5], ['10 miles', 10], ['25 miles', 25], ['50 miles', 50], ['100 miles', 100]]), class:"form-control") %>
          </div>

          <div class="form-group">

            <h6>Only show playgrounds with:</h6>

            <div class="checkbox">
                <%= check_box_tag(:food, class:"checkbox") %>
                <label for="food">food</label>
            </div>

            <div class="checkbox">
                <%= check_box_tag(:restrooms, class:"checkbox") %>
                <label for="restrooms">restrooms</label>
            </div>

            <div class="checkbox">
                <%= check_box_tag(:outdoor, class:"checkbox") %>
                <label for="outdoor">outdoor</label>
            </div>

            <div class="checkbox">
                <%= check_box_tag(:indoor, class:"checkbox") %>
                <label for="indoor">indoor</label>
            </div>

          </div>

        <%= submit_tag("Search", class:"btn btn-primary") %>

        <%= hidden_field_tag(:lat, "201") %>
        <%= hidden_field_tag(:long, "300") %>

        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBerBaV7mRUPDf9RzDC2Cct-6Et3ty1YoA">
 </script>
 