<!DOCTYPE html>
<html style="background-color: #FCFCFA">
  <head>
    <title>TtsPlaygroundProject</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body style="background-color: #FCFCFA">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #D3CFBA;">
<a class="navbar-brand" href="/">
<img src="<%= image_path 'logo_2.png' %>" style="width: 45px; height: 45px" alt="home">
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "List of Playgrounds", playgrounds_path, class:"nav-link", style:"color: black"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Add a Playground", new_playground_path, class:"nav-link", style:"color: black"  %>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item d-lg-none">
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
      </li>
      <li class="nav-item d-lg-none">
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
      </li>
      <% else %>
      <li class="nav-item d-lg-none">
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %>
      </li>
      <li class="nav-item d-lg-none">
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
      </li>
      <% end %>
    </ul>
    </div>
        <div class="navbar-text d-none d-lg-block">
        <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
        <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
        <% end %>
        </div>
</nav>

    <!-- devise code -->
    <% if notice%>
      <p class="alert alert-success"><%= notice%></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <!-- end devise code -->
    <%= yield %>
  </body>
</html>
